body {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 50px;
}
a {
  color: #666;
  border-bottom: 1px dotted #666;
  text-decoration: none;
}
a:hover {
  border: none;
}

.site-title {
  margin-bottom: 0;
  font-weight: 700;
  
}
.site-tagline {
  margin-top: 20px;
  line-height: 1.2em;
  font-weight: 700;
}

.phone {
  font-size: 2.8em;
  font-weight: 700;
}
.phone, strong, .site-tagline {
  color: #f00;
}
.phone a {
    color: #f00;
    border-bottom: 1px dotted #f00;
}
.phone a:hover {
  border: none;
}

footer {
  text-align: center;
  margin: auto;
  font-size: 80%;
  width: 100%;
  margin-top: -10px;
}
footer img {
  width: 70px;
}
footer a {
  border: none;
}

@media screen and (min-width: 651px) {
  aside img {
    margin-top: -5px;
  }
}
@media screen and (max-width: 650px) {
  aside {
    text-align: center;
  }
}
