<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Send A Preview | Listen to previews of any artist over the phone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="static/toast.css">
    <link rel="stylesheet" href="static/style.css">
    <!--[if lt IE 9]>
	    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
    <div class="container" role="main">
        <div class="grid">
            <header class="unit span-grid" role="banner">
                <h1 class="site-title">Send A Preview</h1>
                <h2 class="site-tagline">Listen to previews of any artist over the phone</h2>
            </header>
            <hr class="unit span-grid">
            <aside class="unit one-of-four">
            phone here
            </aside>
            <article class="unit three-of-four">
                <p><acronym title="Send a Preview">SAP</acronym> is a simple way to listen to track previews of any artist over the phone. Just <strong>send an artist name by SMS</strong> to the following number, and we'll call you back with 5 samples from their top-tracks to chose from.</p>
                <p class="phone"><a href="sms://+13473293425">+1 347-329-3425</a></p>
                <p>SAP has been built in a few hours as an  <a href="http://apassant.net">experiment</a> using the awesome APIs from <a href="http://twilio.com" target="_blank">Twilio</a> and <a href="http://developers.7digital.com" target="_blank">7Digital</a> together with <a href="http://flask.pocoo.org" target="_blank">Flask</a> and <a href="http://daneden.me/toast/" target="_blank">Toast</a>.
                <p>If you like what you've seen, <a href="http://mdg.io" target="_blank">contact us</a>.</p>
            </article>
            <footer class="unit four-of-four">
                <a href="http://mdg.io" target="_blank"><img src="/static/mdg.png"/></a>
            </footer>
        </div>
    </div>
</body>

</html>