<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">

<head>
    <meta charset="utf-8">
    <title>Send A Preview | Listen to previews of any artist over the phone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="static/toast.css">
    <link rel="stylesheet" href="static/style.css">
    <!--[if lt IE 9]>
	    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
    <div class="container" role="main">
        <div class="grid">
            <header class="unit span-grid" role="banner">
                <h1 class="site-title">Send A Preview</h1>
                <h2 class="site-tagline">Listen to previews of any artist over the phone</h2>
            </header>
            <hr class="unit span-grid">
            <article class="unit three-of-five">
                <p><abbr title="Send a Preview">SAP</abbr> is a simple way to listen to track previews over the phone. Just <strong>text an artist name</strong> to the following number, and we'll call you with 5 samples from their top-tracks.</p>
                <p class="phone"><a href="sms:+13473293425">+1 347-329-3425</a></p>
                <p>Pretty useful when you're lost in that record store with no one to help and a poor 3G connection, right?</p>
                <p>SAP is an experiment using APIs from <a href="http://twilio.com" target="_blank">Twilio</a> and <a href="http://developers.7digital.com" target="_blank">7Digital</a> together with <a href="http://flask.pocoo.org" target="_blank">Flask</a> and <a href="http://daneden.me/toast/" target="_blank">Toast</a>. You can <a href="http://daneden.me/toast/" target="_blank">read more here</a> or check the source (and submit bug reports) on <a href="https://github.com/mdgweb/SAP" target="_blank">GitHub</a>.
                <p>If you like what you've seen, <a href="http://mdg.io" target="_blank">contact us</a> or check <a href="http://seevl.fm" target="_blank">seevl.fm</a>.</p>
            </article>
            <aside class="unit two-of-five">
                <img src="static/phone.png" alt="Send A Sample screenshot"/>
            </aside>
            <footer class="unit four-of-four">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_google_plusone" g:plusone:annotation="bubble"></a>
                <a class="addthis_counter addthis_pill_style"></a>
                </div>
                <script type="text/javascript">
                    var addthis_config = {
                        "data_track_addressbar": true
                    };
                    var addthis_share = {
                        "url" : "http://sap.mdg.io",
                        "title" : "Send A Preview",
                        "description" : "Listen to previews of any artist over the phone",
                        "passthrough" : {
                             "twitter": {
                                 "via": "seevl",
                                 "text": "Listen to previews of any artist over the phone"
                             }
                         }
                    };
                    </script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51a9a828609525d8"></script>
                <!-- AddThis Button END -->
                <a href="http://mdg.io" target="_blank"><img src="/static/mdg.png" alt="MDG - Music and Data Geeks"/></a>
            </footer>
        </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43308112-1', 'mdg.io');
      ga('send', 'pageview');
    </script>
    
    
    
</body>

</html>